h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 16px 0;
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}