:root {
  --primary-color: #C3B649;
  --secondary-color: #F2EED1;
  --tertiary-color: #636363;
  --main-border-radius: 50px;
  --second-border-radius: 20px;
  --gap: 20px;
  --padding: 20px;
  --middle-font-size: 18px;
  --small-font-size: 16px;
}